* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F8FAFE;
    --secondary-color: #8A2D5E;
    --terciary-color: #000000
}

body {
    background-color: var(--primary-color);
    display: flex;
    height: 50px;
    width: 300px;
    margin: 10px 0px 10px;
    font: 3px;
}

header {
    position: absolute;
    height: 59.9px;
    top: 25px;
    left: 36px;
    width: 1850px;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    position: absolute;
    left: 200px;
    top: 150px;
}

footer {
    display: flex;
    transform: translate(845px, 913px);
    margin-top: 5px;
    padding: 5px;
    border-radius: 1px var(--secondary-color);
    gap: 5px;
    justify-content: space-between;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.logo {
    width: 268px;
    height: 59.9px;
    left: 0px;
    top: 24px;
}

.lista {
    display: flex;
    width: 386px;
    height: 27px;
    left: 482px;
    top: 15px;
    position: absolute;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    list-style: none;
}

.lista2 {
    position: absolute;
    display: flex;
    width: 134px;
    height: 27px;
    top: 0;
    left: 1151px;
}

.l1 {
    margin-left: 250px;
}

.l2 {
    margin-left: 35px;
}

.l3 {
    margin-left: 35px;
}

.l4 {
    margin-left: 35px;
}

.l5 {
    margin-left: 15px;
    transform: translateY(-2%);
}

.l6 {
    margin-left: 25px;
}

.l7 {
    margin-left: 25.92px;
    transform: translateY(-2%);
}

.iron {
    position: absolute;
    display: flex;
    width: 316px;
    height: 805.24px;
    left: -150px;
    margin-top: -50px;
    margin-left: 950px;
    transform: translate(10px, );
}

.t1 {
    position: absolute;
    width: 200px;
    height: 23.56px;
    left: 7px;
    top: 0px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
}

.t2 {
    position: absolute;
    width: 500px;
    height: 93px;
    left: 0px;
    top: 14px;
    font-family: 'Gill Sans MT';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 93px;
    color: var(--secondary-color);
}

.t3 {
    position: absolute;
    width: 122px;
    height: 32px;
    left: 0px;
    top: 139px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
}

.t4 {
    position: absolute;
    width: 430px;
    height: 152px;
    left: 0px;
    top: 172px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 15.71px;
    line-height: 194.5%;
    width: 430px;
    height: 152px;
}

.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    width: 362px;
    height: 57px;
    left: 0px;
    top: 350px;
    background: #383838;
    font-family: 'Poppins';
    font-style: normal;
    color: #FFFFFF;
}

.icones {
    list-style: none;
    position: absolute;
    width: 50px;
    height: 208px;
    left: -100px;
    top: 530px;
}

.next {
    position: absolute;
    width: 271px;
    height: 31px;
    left: 1300px;
    top: 700px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 31px;
    color: #383838;
}

.seta {
    position: relative;
    top: 4px;
    left: 13px;
}

.IronLateral {
    position: absolute;
    width: 817px;
    height: 183px;
    left: 1180px;
    top: 150px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 210px;
    letter-spacing: 0.06em;
    color: rgba(138, 45, 94, 0.5);
    transform: rotate(-90deg);
    z-index: -5;
}